body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color:black;
  max-width: 100%;
}

.input-group {
  padding-left: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px dotted red;
  background-color: black;
}

.searchKey {
  height: 40px;
  width: 30%;
  border: 2px solid red;
  border-radius: 6px;
  margin-right: 2%;
  background-color: #1b1c1d;
  color:white;
}

.searchBtn {
  height: 40px;
  border-radius: 6px;
  background-color: greenyellow;
  text-align: center;
  border: 2px solid red;
  margin-right: 2%;
  font-weight: bold;
}


.searchBtn:hover {
  transform: scale(1.1);
}

.resetBtn {
  height: 40px;
  border-radius: 6px;
  background-color: greenyellow;
  text-align: center;
  border: 2px solid red;
  font-weight: bold;
}

.resetBtn:hover {
  transform: scale(1.1);
}


.cat-list {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  
}

.each-cat {
  width: fit-content;
  border: 2px solid greenyellow;
  border-radius: 50px;
  overflow: hidden;
}

.each-cat:hover {
  transform: scale(1.05);
  border-radius: 16px;
}

.image {
  width: 300px;
  height: 300px;
}
